.hamburger {
  width: 100% !important;
}
.smallHamburger {
  width: 80px !important;
}
.sidebar {
  width: 256px;
  background-color: rgb(0, 21, 41);
}
.small_bar {
  width: 80px;
  background-color: rgb(0, 21, 41);
}